<!-- Include CSS in the <head> or <header> section -->
    <link rel="stylesheet" href="/assets/css/styles.css">

    <ul class="nav">
      <!-- Menu items -->
      <li class="nav-item">
        <a class="nav-link" href="/index.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact.html">News</a>
      </li>
      <li class="nav-item">
        <a target="_blank" class="nav-link" href="https://www.wowthemes.net/themes/mundana-ghost/">Research</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/authors-list.html">Members</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/publications.html" id="publicationsMenu" role="button">Publications</a>
        <div class="dropdown-menu" id="publicationsDropdown">
          <a class="dropdown-item" href="#" data-target="journal-articles">Journal Articles</a>
          <a class="dropdown-item" href="#" data-target="international-conferences">International Conferences</a>
          <a class="dropdown-item" href="#" data-target="domestic-conferences">Domestic Conferences</a>
          <a class="dropdown-item" href="#" data-target="dissertations-theses">Dissertations & Theses</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact.html">Contact</a>
      </li>
    </ul>
    
    <!-- Include JavaScript before the closing </body> tag -->
    <script src="/assets/js/scripts.js"></script>
    
    