<!-- Include CSS in the <head> or <header> section -->
    <link rel="stylesheet" href="/assets/css/styles.css">

    <ul class="nav">
      <!-- Menu items -->
      <li class="nav-item">
        <a class="nav-link" href="/index.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/news.html">News</a>
      </li>
      <li class="nav-item">
        <a target="_blank" class="nav-link" href="https://scholar.google.com/">Research</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/authors-list.html">People</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/publications.html" id="publicationsMenu" role="button">Publications</a>
        <div class="dropdown-menu" id="publicationsDropdown">
          <a class="dropdown-item" href="/publications/journal-articles.html" data-target="journal-articles">Journal Articles</a>
          <a class="dropdown-item" href="#" data-target="/publications/international-conferences">International Conferences</a>
          <a class="dropdown-item" href="#" data-target="/publications/domestic-conferences">Domestic Conferences</a>
          <a class="dropdown-item" href="#" data-target="/publications/dissertations-theses">Dissertations & Theses</a>
        </div>
      </li>
      <style>
        /* Dropdown Hover Effect */
        .nav-item.dropdown:hover .dropdown-menu {
          display: block;
        }
      </style>
      <li class="nav-item">
        <a class="nav-link" href="/contact.html">Contact</a>
      </li>
    </ul>
    
    <!-- Include JavaScript before the closing </body> tag -->
    <script src="/assets/js/scripts.js"></script>
    
    